@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf") format("opentype");
}
@font-face {
    font-family: "Poppins-regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Poppins-back-italic";
    src: url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("opentype");
    font-style: italic;
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("opentype");
    font-weight: bolder;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Italic.ttf") format("opentype");
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Medium.ttf") format("opentype");
    font-weight: 300;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins-regular", sans-serif;
    color: light-dark(var(--light-white-light-color), var(--light-dark-light-color));
}
body{
    background-color: #fff;
    max-width: 1920px;
    margin-inline: auto;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover,a:hover i{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}
a.active{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
:root {
    color-scheme: light dark;

    --dark-bgcolor: #051922;
    --light-bgcolor: #ffffff;

    --light-color: #888;
    --dark-color: #fff;

    --light-white-light-color: #666;
    --light-dark-light-color: #ddd;

    --primary-light-orange-color: #F28123;
    --primary-dark-orange-color: #F28123;

    --border-dark-color : #eeeeee38;
    --border-light-color : #11030338;

    --padding-section-inline : 15%;
    --padding-section-bottom : 60px;

}
.caroussel{
    margin-inline: auto;
    width: 80%;
    overflow: hidden;
}
.caroussel .caroussel-items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* gap: 70px; */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    /* width: fit-content; */
    margin-inline: auto;
    width: 100%;
}
.caroussel .caroussel-items::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.caroussel .caroussel-items.scrolling{
    scroll-behavior: auto;
}
.caroussel.dragging .caroussel-item{
    cursor: grab;
    -webkit-user-select : none;
    user-select: none;
}
.section-title{
    font-size: 40px;
    font-family: "Poppins-Bold";
    color: #000;
    text-transform: capitalize;
    text-align: center;
    margin-block: 30px;
    position: relative;
    padding: 5px;
}
.section-title span{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
.section-title::after{
    position: absolute;
    content: "";
    bottom: 0;
    width: 50px;
    left: calc(50% - 25px);
    height: 2px;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
.section-description{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    max-width: 500px;
    margin-inline: auto;
}
button.btn-link{
    border: none;
    outline: none;
}
.btn-link,.btn-link-outline{
    margin-block: 20px;
    display: inline-block;
    color: #fff;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    padding: 15px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.btn-link-outline{
    background-color: transparent;
    border: 1px solid light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
.btn-link *,
.btn-link-outline *{
    color: #fff;
}
.btn-link:hover{
    color: var(--primary-light-orange-color);
    background-color: var(--dark-bgcolor);
    transition: 0.5s ease;
}
.btn-link-outline:hover{
    color: #fff;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    transition: 0.5s ease;
}
input.custom-numeric-input{
    width: 100px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    outline: none;
}
input.custom-numeric-input:focus{
    border: 1px solid #000;
}
table.order-table{
    margin-bottom: 20px;
    border-collapse: collapse;
    border-color: light-dark(var(--light-white-light-color),var(--light-dark-light-color));
}
table.order-table td{
    padding: 15px;
    color: #051922;
    min-width: 120px;
}
table.order-table th{
    color: #000;
    text-align: left;
    padding-left: 20px;
}
table.order-table .large{
    min-width: 250px;
}
table.order-table .center{
    text-align: center;
}
table.order-table thead{
    background-color: #EFEFEF;
    border: none;
}
table.order-table thead *{
    border: none;
}
#welcome-section{
    height: 100vh;
    max-height: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/hero-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-section .welcome-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}
.main-section-title{
    font-size: 50px;
    font-family: "Poppins-Bold";
    color: #fff;
    text-align: center;
}
.main-section-sub-title{
    font-size: 15px;
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
}
#welcome-section .welcome-text .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    background-color: #374B56;
    height: 450px;
    margin-bottom: 150px;
}
body > header{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--padding-section-inline);
    padding-block: 30px;
    max-width: 1920px;
    margin-inline: auto;
}
body > header.scroll{
    transition: 0.5s ease-in-out;
    background-color: #051922;
}
body > header nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
body > header nav ul li:not(.submenu li){
    padding: 20px;
}
body > header nav ul li.has_submenus{
    position: relative;
}
body > header nav ul li.has_submenus .submenu{
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    align-items: flex-start;
    min-width: 200px;
    position: absolute;
    left: 10px;
    top: 100%;
    transform: translateY(0%);
    display: none;
    opacity: 0;
}
body > header nav ul li.has_submenus .submenu a{
    color: #000;
    padding: 5px;
}
body > header nav ul li.has_submenus .submenu a:hover{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    transition: 0.5s ease;
}
body > header nav ul li.has_submenus:hover .submenu{
    display: flex;
    opacity: 1;
    transition: 1s ease;
}
body > header .logo{
    width: 150px;
}
body > header .icons{
    display: flex;
    gap: 30px;
}
body > header .icons a{
    padding: 10px;
}
.modal{
    width: 100vw;
    height: 100vh;
    background-color: #013955;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    display: none;
}
.modal.open{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.modal .modal-body h2{
    font-family: "Poppins-Bold";
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #fff;
}
.modal .modal-body button{
    border: none;
    outline: none;
}
.modal .modal-body input[type="text"]{
    width: 600px;
    max-width: 70vw;
    padding: 25px 0;
    border: none;
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border-bottom: 2px solid light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    outline: none;
    color: #fff;
    font-family: "Poppins-Bold";
}
.modal .modal-body input[type="text"]::placeholder{
    color: #fff;
}
.modal .modal-body input[type="text"]:focus{
    border: 2px solid #fff;
}
.modal .close-button{
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 30;
}
#error-body{
    height: 70vh;
    max-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#error-body .error-icon{
    font-size: 100px;
    color: #000;
}
#availability{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F5F5;
}
#availability .bloc{
    display: flex;
    align-items: center;
    gap: 20px;
}
#availability .bloc .icon-box{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    border-radius: 50%;
}
#availability .bloc .icon-box i{
    font-size: 20px;
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#availability h4{
    color: #000;
}
#availability p{
    color: #051922cc;
}
#our-products .categories{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 20px;
}
#our-products .categories .category{
    border: 2px solid #000;
    padding: 15px 25px;
    border-radius: 50px;
    background-color: #fff;
    color: #000;
    font-family: "Poppins-Bold";
    outline: none;
    cursor: pointer;
    font-size: 18px;
}
#our-products .categories .category.active{
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    color: #fff;
    border-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    transition: 0.5s ease;
}
#our-products .products-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
#our-products .products-container .product-container{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    flex: 30%;
}
#our-products .products-container .product-container:hover{
    transition: 0.3s ease-in-out;
    box-shadow: none;
}
#our-products .products-container .product-container .product-name,
#our-products .products-container .product-container .product-price{
    font-family: "Poppins-Bold";
    color: #000;
    font-size: 20px;
}
#our-products .products-container .product-container img{
    width: 261px;
    height: 261px;
    object-fit: cover;
}
#deal-of-month{
    display: flex;
    align-items: center;
    background: #F6F6F6;
    gap: 30px;
}
#deal-of-month .left{
    position: relative;
}
#deal-of-month .off{
    width: 100px;
    height: 100px;
    font-family: "Poppins-Bold";
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    position: absolute;
    top: 20px;
    left: 20px;
}
#deal-of-month .off::before{
    position: absolute;
    top: -10px;
    left: -10px;
    content: "";
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #ff7300;
    opacity: 0.5;
}
#deal-of-month .off span{
    color: #000;
}
#deal-of-month .off .percent{
    font-weight: bold;
    font-size: 20px;
}
#deal-of-month .left img{
    max-width: 600px;
}
#deal-of-month .section-subtitle{
    text-transform: uppercase;
    font-size: 17px;
    color: #000;
}
#deal-of-month .days-off{
    margin-block: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#deal-of-month .days-off .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 0px;
    border: 3px solid light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#deal-of-month .days-off .card .number{
    font-size: 25px;
    font-weight: bold;
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#deal-of-month,
#testimonial,
#our-products,
#availability,
#welcome-section{
    padding-inline: var(--padding-section-inline);
    padding-block: var(--padding-section-bottom);
}
#deal-the-month .section-subtitle{
    text-transform: uppercase;
}
#testimonial{
    background-color: light-dark(#eee, #fff);
}
section h2{
    font-size: 40px;
    font-family: "Poppins-Bold";
    color: #000;
    text-transform: capitalize;
}
#testimonial .caroussel{
    padding-block: var(--padding-section-bottom);
}
#testimonial .caroussel-item{
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 100%;
}
#testimonial .caroussel-item i{
    display: inline-block;
    font-size: 30px;
    margin: auto;
}
#testimonial .caroussel-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}
#testimonial .caroussel-item h4{
    font-family: "Poppins-Bold";
    color: #000;
}
#testimonial .caroussel-item .post{
    color: #666;
    font-weight: bold;
}
#testimonial .caroussel-item h4,
#testimonial .caroussel-item .post,
#testimonial .caroussel-item .comment{
    text-align: center;
}
#testimonial .about-us{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-block: var(--padding-section-bottom);
    width: fit-content;
    margin: auto;
}
#testimonial .about-us img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
#testimonial .present{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 500px;
}
#testimonial .present .btn-link{
    width: fit-content;
}
#sale-off{
    background-color: light-dark(#eee, #fff);
    padding-inline: var(--padding-section-inline);
    padding-block: var(--padding-section-bottom);
    background-image: url(../images/sale-off.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sale-off h2{
    font-size: 40px;
    font-family: "Poppins-Bold";
    color: #000;
    text-transform: capitalize;
    margin-block: 30px;
}
section h2 span{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#sale-off .off{
    font-size: 60px;
    font-weight: bold;
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#sale-off .infos{
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 20px;
}
#news{
    background-color: #fff;
}
#news .new-container{
    padding-inline: var(--padding-section-inline);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
#news .new-container .news{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 10px #00000031;
    padding-bottom: 20px;
    flex: 30% !important;
}
#news .new-container .news h4{
    padding-inline: 10px;
}
#news .new-container .news h4 a{
    font-family: "Poppins-Bold";
    font-size: 20px;
    color: #000;
}
#news .new-container .news > a > img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#news .news-info{
    display: flex;
    gap: 30px;
    font-size: 12px;
    padding-inline: 15px;
}
#news .news-description{
    font-size: 14px;
    padding-inline: 15px;
}
#news > div a.read-more-link{
    font-family: "Poppins-Bold";
    color: #000;
    position: relative;
    width: fit-content;
    padding-inline: 15px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
#news > div a.read-more-link::after{
    position: absolute;
    content: ">";
    font-family: "Poppins-Bold";
    color: #000;
    right: -15px;
    top: 0;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
#news > div a.read-more-link:hover,#news > div a.read-more-link:hover::after{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#news #more-news{
    padding-block: 150px;
    display: grid;
    place-items: center;
}
#more-news-pagination{
    padding-block: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#more-news-pagination .pagination-link{
    background-color: #F3F3F3;
    padding: 10px 20px;
    border-radius: 50px;
}
#more-news-pagination .pagination-link:hover,#more-news-pagination .pagination-link.active{
    color: #fff;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    transition: 0.5s ease;
}
#patners{
    background-color: light-dark(#eee, #fff);
    padding-inline: var(--padding-section-inline);
    padding-bottom: var(--padding-section-bottom);
}
#patners .caroussel .caroussel-item img{
    width: 190px;
    height: 130px;
    object-fit: cover;
}
.gray-background-and-padding{
    background-color: #f3f3f3 !important;
    margin-top: 100px;
    padding-block: 20px;
}
#checkout-section{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#checkout-section .accordeon-container{
    width: 50%;
}
#checkout-section .accordeon-container .accordeon{
    border: 1px solid #0000002a;
    margin-bottom: 20px;
    border-radius: 5px;
}
#checkout-section .accordeon-container .accordeon .accordeon-title{
    position: relative;
    padding: 20px 20px 20px 50px;
    background-color:  #EFEFEF;
    font-family: 'Poppins-Bold';
    color: #000;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
}
#checkout-section .accordeon-container .accordeon-title::before{
    position: absolute;
    content: "a";
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#checkout-section .accordeon-container .accordeon .accordeon-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 0;
    overflow: hidden;
    padding: 0px 30px;
    transition: 0.5s ease;
}
#checkout-section .accordeon-container .accordeon.active .accordeon-body{
    height: auto;
    padding: 30px;
    transition: 0.5s ease;
}
#checkout-section .accordeon-container .accordeon .accordeon-body input,
#checkout-section .accordeon-container .accordeon .accordeon-body textarea{
    background-color: #fff;
    padding: 15px;
    outline: none;
    border: 2px solid light-dark(var(--light-white-light-color), var(--light-dark-light-color));
    border-radius: 5px;
}
#checkout-section .accordeon-container .accordeon .accordeon-body input:focus,
#checkout-section .accordeon-container .accordeon .accordeon-body textarea:focus{
    border: 2px solid #000;
}
#checkout-section .accordeon-container .accordeon .accordeon-body textarea{
    resize: none;
}
#signe-product-presentation{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#signe-product-presentation .image-product-container{
    width: 50%;
    max-width: 450px;
    height: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
#signe-product-presentation .image-product-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#signe-product-presentation .product-informations{
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#signe-product-presentation .product-informations .product-price{
    font-size: 32px;
    color: #000;
    font-weight: bold;
}
#signe-product-presentation .product-informations .price-unit{
    color: #000;
    font-size: 18px;
}
#signe-product-presentation .product-informations .product-name{
    font-size: 22px;
    color: #000;
}
#signe-product-presentation .product-informations .more{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#signe-product-presentation .product-informations .more .btn-link{
    width: fit-content;
}
#signe-product-presentation .product-informations .more .categories,
#signe-product-presentation .product-informations .more .categories strong{
    color: #000;
}
#signe-product-presentation .product-informations .share-infos .socials-links{
    display: flex;
    gap: 15px;
}
#signe-product-presentation .product-informations .share-infos .socials-links i{
    font-size: 18px;
}
#signe-product-presentation .product-informations .share-infos h4{
    margin-bottom: 15px;
    color: #000;
    font-size: 20px;
}
#cart{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#cart img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
#cart .buttons a{
    padding: 15px;
    font-size: 10px;
}
#cart .buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
#cart .apply-coupon h3{
    color: #000;
    font-weight: 500;
}
#cart .apply-coupon input{
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    outline: none;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 10px;
    color: #000;
}
#cart .apply-coupon input:focus{
    border-color: #000;
}
footer{
    padding-block: 70px 20px;
    background-color: light-dark(var(--light-bgcolor), var(--dark-bgcolor));
}
footer > div{
    padding-inline: var(--padding-section-inline);
}
footer > div:first-child{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 50px;
}
footer > div:first-child > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer h2{
    text-transform: capitalize;
    font-size: 1.5em;
    font-family: "Poppins-Medium",sans-serif;
    color: light-dark(var(--light-color), var(--dark-color));
    position: relative;
    padding-bottom: 20px;
}
footer h2::before{
    position: absolute;
    content: "";
    height: 3px;
    width: 25px;
    left: 0;
    bottom: 0;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
footer #copyrigth{
    border-top: 1px solid light-dark(var(--border-light-color), var(--border-dark-color));
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer #copyrigth .icons{
    display: flex;
    gap: 20px;
}
footer #copyrigth .icons a{
    padding: 3px;
}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer ul li{
    position: relative;
    padding-left: 20px;
}
footer ul li:before{
    position: absolute;
    content: ">";
    left: 0;
    top: 0;
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
footer form{
    display: flex;
    gap: 5px;
}
footer form input{
    padding: 15px;
    background-color: light-dark(#fefefe, #03304638);
    border: 1px solid #666;
}
footer form button[type="submit"]{
    padding: 12px 18px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: light-dark(#96abc4, #013955);
}
footer form button[type="submit"] i{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    font-size: 1.2em;
}
footer a#author-name{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
