@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf") format("opentype");
}
@font-face {
    font-family: "Poppins-regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Poppins-back-italic";
    src: url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("opentype");
    font-style: italic;
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("opentype");
    font-weight: bolder;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Italic.ttf") format("opentype");
    font-style: italic;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Medium.ttf") format("opentype");
    font-weight: 300;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins-regular", sans-serif;
    color: light-dark(var(--light-white-light-color), var(--light-dark-light-color));
}
body{
    background-color: #fff;
    max-width: 1920px;
    margin-inline: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover,a:hover i{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}
:root {
    color-scheme: light dark;

    --dark-bgcolor: #051922;
    --light-bgcolor: #ffffff;

    --light-color: #888;
    --dark-color: #fff;

    --light-white-light-color: #666;
    --light-dark-light-color: #aaa;

    --primary-light-orange-color: #F28123;
    --primary-dark-orange-color: #F28123;

    --border-dark-color : #eeeeee38;
    --border-light-color : #11030338;

    --padding-section-inline : 15%;
    --padding-section-bottom : 60px;

}
.caroussel{
    margin-inline: auto;
    width: 80%;
    overflow: hidden;
}
.caroussel .caroussel-items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* gap: 70px; */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    width: fit-content;
    margin-inline: auto;
}
.caroussel .caroussel-items::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.caroussel .caroussel-items.scrolling{
    scroll-behavior: auto;
}
.caroussel.dragging .caroussel-item{
    cursor: grab;
    -webkit-user-select : none;
    user-select: none;
}
.section-title{
    font-size: 40px;
    font-family: "Poppins-Bold";
    color: #000;
    text-transform: capitalize;
    text-align: center;
    margin-block: 30px;
    position: relative;
    padding: 5px;
}
.section-title span{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
.section-title::after{
    position: absolute;
    content: "";
    bottom: 0;
    width: 50px;
    left: calc(50% - 25px);
    height: 2px;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
.section-description{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    max-width: 500px;
    margin-inline: auto;
}
.btn-link,.btn-link-outline{
    margin-block: 20px;
    display: inline-block;
    color: #fff;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    padding: 15px 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.btn-link-outline{
    background-color: transparent;
    border: 1px solid light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
.btn-link *,
.btn-link-outline *{
    color: #fff;
}
.btn-link:hover{
    color: var(--primary-light-orange-color);
    background-color: var(--dark-bgcolor);
    transition: 0.5s ease;
}
.btn-link-outline:hover{
    color: #fff;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    transition: 0.5s ease;
}
#welcome-section{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/hero-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-section .welcome-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}
#welcome-section .welcome-text h1{
    font-size: 50px;
    font-family: "Poppins-Bold";
    color: #fff;
}
#welcome-section .welcome-text h3{
    font-size: 15px;
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    text-transform: uppercase;
    letter-spacing: 8px;
}
#welcome-section .welcome-text .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#welcome-section header{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    background: #000;
    z-index: 10;
    display: flex;
    align-items: center;
    padding-inline: var(--padding-section-inline);
    padding-block: 30px;
}
#welcome-section header .logo{
    width: 150px;
}
#availability{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F5F5;
}
#availability .bloc{
    display: flex;
    align-items: center;
    gap: 20px;
}
#availability .bloc .icon-box{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    border-radius: 50%;
}
#availability .bloc .icon-box i{
    font-size: 20px;
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#availability h4{
    color: #000;
}
#availability p{
    color: #051922cc;
}
#our-products .products-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#our-products .products-container .product-container{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
#our-products .products-container .product-container:hover{
    transition: 0.3s ease-in-out;
    box-shadow: none;
}
#our-products .products-container .product-container .product-name,
#our-products .products-container .product-container .product-price{
    font-family: "Poppins-Bold";
    color: #000;
    font-size: 20px;
}
#our-products .products-container .product-container img{
    width: 261px;
    height: 261px;
    object-fit: cover;
}
#deal-of-month{
    display: flex;
    align-items: center;
    background: #F6F6F6;
    gap: 30px;
}
#deal-of-month .left{
    position: relative;
}
#deal-of-month .off{
    width: 100px;
    height: 100px;
    font-family: "Poppins-Bold";
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    position: absolute;
    top: 20px;
    left: 20px;
}
#deal-of-month .off::before{
    position: absolute;
    top: -10px;
    left: -10px;
    content: "";
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #ff7300;
    opacity: 0.5;
}
#deal-of-month .off span{
    color: #000;
}
#deal-of-month .off .percent{
    font-weight: bold;
    font-size: 20px;
}
#deal-of-month .left img{
    max-width: 600px;
}
#deal-of-month .section-subtitle{
    text-transform: uppercase;
    font-size: 17px;
    color: #000;
}
#deal-of-month .days-off{
    margin-block: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#deal-of-month .days-off .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 0px;
    border: 3px solid light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#deal-of-month .days-off .card .number{
    font-size: 25px;
    font-weight: bold;
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#deal-of-month,
#testimonial,
#our-products,
#availability,
#welcome-section{
    padding-inline: var(--padding-section-inline);
    padding-block: var(--padding-section-bottom);
}
#deal-the-month .section-subtitle{
    text-transform: uppercase;
}
#testimonial{
    background-color: light-dark(#eee, #fff);
}
section h2{
    font-size: 40px;
    font-family: "Poppins-Bold";
    color: #000;
    text-transform: capitalize;
}
#testimonial .caroussel{
    padding-block: var(--padding-section-bottom);
}
#testimonial .caroussel-item{
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 100%;
}
#testimonial .caroussel-item i{
    display: inline-block;
    font-size: 30px;
    margin: auto;
}
#testimonial .caroussel-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}
#testimonial .caroussel-item h4{
    font-family: "Poppins-Bold";
    color: #000;
}
#testimonial .caroussel-item .post{
    color: #666;
    font-weight: bold;
}
#testimonial .caroussel-item h4,
#testimonial .caroussel-item .post,
#testimonial .caroussel-item .comment{
    text-align: center;
}
#testimonial .about-us{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-block: var(--padding-section-bottom);
    width: fit-content;
    margin: auto;
}
#testimonial .about-us img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
#testimonial .present{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 500px;
}
#testimonial .present .btn-link{
    width: fit-content;
}
#sale-off{
    background-color: light-dark(#eee, #fff);
    padding-inline: var(--padding-section-inline);
    padding-block: var(--padding-section-bottom);
    background-image: url(../images/sale-off.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sale-off h2{
    font-size: 40px;
    font-family: "Poppins-Bold";
    color: #000;
    text-transform: capitalize;
    margin-block: 30px;
}
section h2 span{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#sale-off .off{
    font-size: 60px;
    font-weight: bold;
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#sale-off .infos{
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 20px;
}
#news{
    background-color: #fff;
}
#news > div{
    padding-inline: var(--padding-section-inline);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#news > div > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 10px #00000031;
    padding-bottom: 20px;
}
#news > div > div h4{
    padding-inline: 10px;
}
#news > div > div h4 a{
    font-family: "Poppins-Bold";
    font-size: 20px;
    color: #000;
}
#news > div > div > a > img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#news .news-info{
    display: flex;
    gap: 30px;
    font-size: 12px;
    padding-inline: 15px;
}
#news .news-description{
    font-size: 14px;
    padding-inline: 15px;
}
#news > div a.read-more-link{
    font-family: "Poppins-Bold";
    color: #000;
    position: relative;
    width: fit-content;
    padding-inline: 15px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
#news > div a.read-more-link::after{
    position: absolute;
    content: ">";
    font-family: "Poppins-Bold";
    color: #000;
    right: -15px;
    top: 0;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
#news > div a.read-more-link:hover,#news > div a.read-more-link:hover::after{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
#news #more-news{
    padding-block: 150px;
    display: grid;
    place-items: center;
}
#patners{
    background-color: light-dark(#eee, #fff);
    padding-inline: var(--padding-section-inline);
    padding-bottom: var(--padding-section-bottom);
}
#patners .caroussel .caroussel-item img{
    width: 190px;
    height: 130px;
    object-fit: cover;
}
footer{
    padding-block: 70px 20px;
    background-color: light-dark(var(--light-bgcolor), var(--dark-bgcolor));
}
footer > div{
    padding-inline: var(--padding-section-inline);
}
footer > div:first-child{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 50px;
}
footer > div:first-child > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer h2{
    text-transform: capitalize;
    font-size: 1.5em;
    font-family: "Poppins-Medium",sans-serif;
    color: light-dark(var(--light-color), var(--dark-color));
    position: relative;
    padding-bottom: 20px;
}
footer h2::before{
    position: absolute;
    content: "";
    height: 3px;
    width: 25px;
    left: 0;
    bottom: 0;
    background-color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
footer #copyrigth{
    border-top: 1px solid light-dark(var(--border-light-color), var(--border-dark-color));
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer #copyrigth .icons{
    display: flex;
    gap: 20px;
}
footer #copyrigth .icons a{
    padding: 3px;
}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer ul li{
    position: relative;
    padding-left: 20px;
}
footer ul li:before{
    position: absolute;
    content: ">";
    left: 0;
    top: 0;
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
footer form{
    display: flex;
    gap: 5px;
}
footer form input{
    padding: 15px;
    background-color: light-dark(#fefefe, #03304638);
    border: 1px solid #666;
}
footer form button[type="submit"]{
    padding: 12px 18px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: light-dark(#96abc4, #013955);
}
footer form button[type="submit"] i{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
    font-size: 1.2em;
}
footer a#author-name{
    color: light-dark(var(--primary-light-orange-color), var(--primary-dark-orange-color));
}
